<div class="finish-page row" data-userid="<%= @user.id %>">

<div class="columns">
<h1 class="sketch bold text-center">finish signup</h1>

<div id="errors"></div>

<h4>Email address:</h4> <input type="text" id="email" value="<%= @user.email %>">

<h4>Username:</h4> <input type="text" id="yournickname">
<p>This is what other people will see! Choose carefully!</p>

<button id="finish-signup">Finish!</button>
</div>
</div>
