<div class="finish-page" data-userid="<%= @user.id %>">

<h1>finish signup</h1>

<div id="errors"></div>

Username: <input type="text" id="yournickname">

<button id="finish-signup">Finish!</button>

</div>
