<div class="finish-page row" data-userid="<%= @user.id %>">

<div class="columns">
<h1>finish signup</h1>

<div id="errors"></div>

Username: <input type="text" id="yournickname">

<button id="finish-signup">Finish!</button>
</div>
</div>
