<h1><%= @doodle.user.name %>'s <%= @doodle.mission.name %></h1>

<div id="doodle"></div>

<div id="comment-area"></div>

<div id="comment-form">
  <textarea name="comment" id="comment-input"></textarea>
  <button>add comment</button>
</div>
