<div class="single-doodle">
  <img src="{{uploaded_image}}" alt="{{user.name}}'s doodle">
  <h4>{{user.email}}</h4>
  <p>{{points}} points</p>
  <p><a href="#">Upvote</a> or <a href="#" title="">Downvote</a></p>
</div>
