<div class="row">
  <div class="column">

    <div class="while-drawing buttons">
      <button id="show-this">show</button>
      <button id="start-over">start over</button>
      <button id="go-back">go back</button>
      <div id="color-picker">
        <a href="#" style="color: #000;" class="current-color">black</a>
        <a href="#" style="color: #0036E6;">blue</a>
        <a href="#" style="color: #FFC300;">yellow</a>
        <a href="#" style="color: #E60036;">red</a>
      </div>
      <div id="timer"></div>
    </div>

    <div class="done-drawing buttons" style="display: none;">
      <button id="confirm">submit!</button>
      <button id="nevermind">start over</button>
    </div>

    <canvas id="my-canvas"></canvas>

  </div>
</div>
