<div class="row">
  <div class="column">

    <div class="while-drawing buttons">
      <button id="show-this">show</button>
      <button id="start-over">start over</button>
      <button id="go-back">go back</button>
      <div id="timer"></div>
    </div>

    <div class="done-drawing buttons" style="display: none;">
      <button id="confirm">submit!</button>
      <button id="nevermind">start over</button>
    </div>

    <canvas id="my-canvas"></canvas>

  </div>
</div>
