<div class="while-drawing buttons">
  <div id="color-picker">
    <h1 class="sketch">COLORS: </h1>
    <a href="#" style="color: #000;">
      <i class="fa fa-circle current-color"></i>
    </a>
    <a href="#" style="color: #0036E6;">
      <i class="fa fa-circle"></i>
    </a>
    <a href="#" style="color: #61FF03;">
      <i class="fa fa-circle"></i>
    </a>
    <a href="#" style="color: #FFC300;">
      <i class="fa fa-circle"></i>
    </a>
    <a href="#" style="color: #E60036;">
      <i class="fa fa-circle"></i>
    </a>
    <a href="#" style="color: #9B00DC;">
      <i class="fa fa-circle"></i>
    </a>
  </div>

</div>

<canvas id="my-canvas"></canvas>

<div class="while-drawing buttons">
  <div class="small-3 columns">
    <button id="show-this" class="expand">show</button>
  </div>
  <div class="small-3 columns">
    <button id="start-over" class="expand">start over</button>
  </div>
  <div class="small-3 columns">
    <button id="go-back" class="expand">go back</button>
  </div>
  <div class="small-3 columns">
    <span id="timer" class="button expand">0:60</span>
  </div>
</div>

<div class="done-drawing buttons" style="display: none;">
  <button id="confirm">submit!</button>
  <button id="nevermind">start over</button>
</div>

