// /*
//  * This is a manifest file that'll be compiled into application.css, which will include all the files
//  * listed below.
//  *
//  * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
//  * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
//  *
//  * You're free to add application-wide styles to this file and they'll appear at the bottom of the
//  * compiled file so the styles you add here take precedence over styles defined in any styles
//  * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
//  * file per style scope.
//  *
//  *= require foundation
//  *= require_tree .
//  *= require_self
//  //= require foundation_and_overrides
//  */

$teal: #00E6B0;
$gold: #FFC300;
$dark-gold: #DB9A0F;
$red: #E60036;
$blue: #0023B9;
$navy-blue: #1C2966;

body {
  background: image-url("paper.png");
  background-size: 50%;
}

canvas {
  background: white;
}

.sketch {
  font-family: 'Cabin Sketch', sans-serif;
  &.bold {
    font-weight: 700;
  }
}

button, .button {
  padding: 10px;
  margin-top: 5px;
  margin-left: 2px;
  margin-right: 2px;
  background: $gold;
  &:hover {
    background: $dark-gold;
  }
}

//////////////////// NAV STUFF ///////////////////////

.top-bar .row {
  max-width: 62.5rem;
}

//////////////////// INDEX PAGE STUFF //////////////////////

.single-mission {
  text-align: center;
  border-radius: 5px;
  a {
    color: white;
  }
  &.open-mission {
    background: rgba($navy-blue, 0.7);
  }
  &.votable-mission {
    background: rgba($red, 0.7);
  }
}

.missions h4 {
  margin-bottom: 0px;
  margin-top: 15px;
  text-transform: uppercase;
}

.missions .medium-3 {
  margin-bottom: 15px;
}

.recent {
  .small-6 {
    padding: 1px;
  }
  .recent-image {
    width: 100%;
  }
  h4 {
    color: darken($teal, 15%);
    border-color: darken($teal, 15%);
  }

  .doodle-info {
    min-width: 100%;
    min-height: 100%;
    background: $navy-blue;
    position: absolute;
    top: 0;
    padding: 15px;
    h4 {
      color: white;
      line-height: 100%;
    }
  }

}

.headline {
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  text-align: center;
}



//////////////////// USER PROFILE STUFF ////////////////////

button.current {
  background: $teal;
}

svg {
  .axis path {
    stroke-width: 1;
    fill: none;
    stroke: black;
  }

  rect {
    fill: $navy-blue;
  }
}
