// /*
//  * This is a manifest file that'll be compiled into application.css, which will include all the files
//  * listed below.
//  *
//  * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
//  * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
//  *
//  * You're free to add application-wide styles to this file and they'll appear at the bottom of the
//  * compiled file so the styles you add here take precedence over styles defined in any styles
//  * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
//  * file per style scope.
//  *
//  *= require foundation
//  *= require_tree .
//  *= require_self
//  //= require foundation_and_overrides
//  */

$teal: #00E6B0;
$gold: #F6D009;
$red: #E60036;
$blue: #0023B9;
$navy-blue: #1C2966;

body {
  background: image-url("paper.png");
  background-size: 50%;
}

canvas {
  background: white;
}

.sketch {
  font-family: 'Cabin Sketch', sans-serif;
  &.bold {
    font-weight: 700;
  }
}

button, .button {
  padding: 10px;
  margin-top: 5px;
  margin-left: 2px;
  margin-right: 2px;
  background: $blue;
  &:hover, &:active {
    background: lighten($blue, 15%);
  }
}

//////////////////// NAV STUFF ///////////////////////

.top-bar .row {
  max-width: 62.5rem;
}

.top-bar {
  background: rgba($gold, 0.9);
  .name h1 {
    font-size: 140%;
  }
  .top-bar-section ul.right li, .top-bar-section ul.right li a {
    background: none;
    &:hover {
      background: darken($gold, 4%);
    }
  }
}

//////////////////// INDEX PAGE STUFF //////////////////////

#welcome {
  text-align: center;
  color: darken($navy-blue, 15%);
}

.single-mission {
  text-align: center;
  border-radius: 5px;
  a {
    color: white;
  }
  &.open-mission {
    background: rgba($navy-blue, 0.8);
  }
  &.votable-mission {
    background: rgba($red, 0.8);
  }
}

.missions h4 {
  margin-bottom: 0px;
  margin-top: 15px;
  text-transform: uppercase;
}

.missions .medium-3 {
  margin-bottom: 15px;
}

.recent {
  h4 {
    color: darken($teal, 15%);
    border-color: darken($teal, 15%);
  }
}

.doodle-grid {
  .single-doodle {
    padding: 1px;
  }
  .recent-image {
    width: 100%;
  }

  .doodle-info {
    min-width: 100%;
    min-height: 100%;
    max-height: 100%;
    overflow: hidden;

    background: $navy-blue;
    position: absolute;
    top: 0;
    padding: 15px;
    h4 {
      color: white;
      line-height: 100%;
      text-transform: uppercase;
    }
    p {
      color: white;
      margin-bottom: 5px;
    }
  }
}

.headline {
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  text-align: center;
}


//////////////////// USER PROFILE STUFF ////////////////////

button.current {
  background: $teal;
}

#stats-options .columns, #leaderboard-options .columns {
  padding-left: 0.7rem;
  padding-right: 0.7rem;
}

svg {
  .axis path {
    stroke-width: 1;
    fill: none;
    stroke: black;
  }

  rect {
    fill: $navy-blue;
  }
  .highscore {
    display: none;
  }

  g:hover {
    .highscore {
      display: block;
    }
  }
}

////////////////// MISSION#SHOW STUFF ////////////////

h1.mission-name {
  display: inline-block;
}

#right-button button {
  float: right;
  margin-top: 10px;
}

#notice {
  color: rgba($navy-blue, 0.5);
  font-style: italic;
  text-align: center;
}

.image-container {
  width: 100%;
  text-align: center;
  background: white;
}

.doodle-information {
  display: inline-block;
}

a.vote.on-doodle {
  font-size: 200%;
}

a .fa-thumbs-o-down {
  color: $red;
}

a .fa-thumbs-o-up {
  color: black;
}


///////////////// while doodling ///////////////////

.drawing-environment {
  text-align: center;
}

.while-drawing .small-3 {
  padding-left: 0.3rem;
  padding-right: 0.3rem;
}
.while-drawing.buttons {
  max-width: 500px;
  margin: 0 auto;
  .button, button {
    background: desaturate(lighten($teal, 25), 45);
    &:hover {
      background: desaturate($teal, 45);
    }
    &.ticktock {
      background: #9EF7C7;
      &.urgent {
        background: #E63A63;
      }
    }
  }
}

#color-picker a {
  font-size: 300%;
  .current-color {
    transform: translate(0px, -10px);
    -webkit-transform: translate(0px, -10px);
    -moz-transform: translate(0px, -10px);
  }
}

#color-picker h1 {
  display: inline-block;
}

/////////////// DOODLE SHOW STUFF (COMMENTS MOSTLY) //////////

#doodle-title {
  display: inline-block;
}

.vote-buttons.on-doodle {
  display: inline-block;
  p {
    display: inline-block;
    padding: 0px 10px;
  }
  float: right;
  position: relative;
  top: 20px;
}

#comment-area {
  .profpic {
    width: 50px;
    vertical-align: top;
  }
  .comment-info {
    display: inline-block;
    h4 {
      line-height: 100%;
      margin-top: 0px;
    }
  }
  .comment-body {
    padding: 15px;
    background: rgba(white, 0.7);
  }
  p {
    margin-bottom: 0px;
  }
  i {
    font-size: 150%;
  }
  .vote-buttons {
    float: right;
  }
  .comment-score {
    font-size: 90%;
    font-style: italic;
    display: inline-block;
    margin-top: 10px;
  }
  .comment {
    margin-bottom: 20px;
  }
}

