// /*
//  * This is a manifest file that'll be compiled into application.css, which will include all the files
//  * listed below.
//  *
//  * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
//  * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
//  *
//  * You're free to add application-wide styles to this file and they'll appear at the bottom of the
//  * compiled file so the styles you add here take precedence over styles defined in any styles
//  * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
//  * file per style scope.
//  *
//  *= require foundation
//  *= require_tree .
//  *= require_self
//  //= require foundation_and_overrides
//  */

$teal: #00E6B0;
$gold: #FFC300;
$dark-gold: #DB9A0F;
$red: #E60036;
$blue: #0023B9;
$navy-blue: #1C2966;

body {
  background: image-url("paper.png");
  background-size: 50%;
}

canvas {
  background: white;
}

button, .button {
  padding: 10px;
  margin-top: 5px;
  margin-left: 2px;
  margin-right: 2px;
  background: $gold;
  &:hover {
    background: $dark-gold;
  }
}

button.current {
  background: $teal;
}

svg {
  .axis path {
    stroke-width: 1;
    fill: none;
    stroke: black;
  }

  rect {
    fill: $navy-blue;
  }
}
