<div class="row">
  <div class="columns">
    <% if user_signed_in? %>
      <h1>welcome, <%= current_user.nickname %></h1>
    <% end %>
    <h2>open missions</h2>
  </div>

  <% @missions.each do |mission| %>
    <div class="medium-3 columns">
      <% if mission.doodles.present? %>
        <%= image_tag mission.doodles.first.image.url, alt: "top", class:"sample-doodle" %>
      <% end %>
      <h4><%= link_to mission.name, mission %></h4>
    </div>
  <% end %>
</div>

<div class="row">
  <% if user_signed_in? %>
    <div class="medium-4 columns">
      <h4>your recent doodles</h4>
      <ul>
        <% current_user.doodles.each do |doodle| %>
          <% if doodle.doodleable_type == "Mission" %>
            <li><%= link_to doodle.doodleable.name, doodle %></li>
          <% end %>
        <% end %>
      </ul>
    </div>
  <% end %>
</div>
