<div class="row">

  <div class="open-missions">
    <h2 class="column">open missions</h2>
    <% @open_missions.each do |mission| %>
      <div class="medium-3 columns">
        <div class="open-mission single-mission">
          <h2 class="sketch bold"><%= link_to mission.name, mission %></h2>
        </div>
      </div>
    <% end %>
  </div>

  <div class="open-missions">
    <h2 class="column">vote on a winner!</h2>
    <% @votable_missions.each do |mission| %>
      <div class="medium-3 columns">
        <div class="votable-mission single-mission">
          <h2 class="sketch bold"><%= link_to mission.name, mission %></h2>
        </div>
      </div>
    <% end %>
  </div>

</div> <!-- end row -->

<div class="row">
  <% if user_signed_in? %>
    <div class="medium-4 columns">
      <h4>your recent doodles</h4>
      <ul>
        <% current_user.doodles.each do |doodle| %>
          <% if doodle.doodleable_type == "Mission" %>
            <li><%= link_to doodle.doodleable.name, doodle %></li>
          <% end %>
        <% end %>
      </ul>
    </div>
  <% end %>
</div>
