<h1><%= @mission.name %></h1>

<% if user_signed_in? %>
  <div id="buttons">
    <button id="submit">create a doodle</button>
  </div>
<% end %>

<div id="doodles" data-mission=<%= @mission.id %>>

</div>
